# {{ ansible_managed }}
# MUNGE configuration

# Pass additional command-line options to munged.
OPTIONS="
{%- if munge_key_file is defined %}
--key-file={{ munge_key_file }}
{%- endif %}
{%- if munge_force | bool %}
 --force
{%- endif %}
{%- if munge_threads is defined %}
 --num-threads={{ munge_threads }}
{%- endif %}
{%- if munge_syslog | bool and
    munge_version_patch | int >= 11
%}
 --syslog
{%- endif %}
{%- if munge_pid_file is defined and
    munge_pid_file != __munge_pid_file
%}
 --pid-file={{ munge_pid_file }}
{%- endif %}
{%- if munge_seed_file is defined and
    munge_seed_file != __munge_seed_file and
    munge_version_patch | int >= 13
%}
 --seed-file={{ munge_seed_file }}
{%- endif %}
{%- if munge_log_file is defined and
    munge_log_file != __munge_log_file and
    munge_version_patch | int >= 13 and
    not munge_syslog | bool
%}
 --log-file={{ munge_log_file }}
{%- endif %}
{%- if munge_origin_address is defined and
    munge_origin_address | length > 0 and
    munge_version_patch | int >= 14
%}
 --origin={{ munge_origin_address }}
{%- endif %}
{%- if munge_trusted_group is defined and
    munge_trusted_group | length > 0 and
    munge_version_patch | int >= 13
%}
 --trusted-group={{ munge_trusted_group }}
{%- endif %}
{%- if munge_max_ttl is defined and
    munge_max_ttl | int > 0 and
    munge_version_patch | int >= 12
%}
 --max-ttl={{ munge_max_ttl }}
{%- endif %}
{%- if munge_socket_file is defined and
    munge_socket_file != __munge_socket_file
%}
 --socket={{ munge_socket_file }}
{%- endif %}
{%- if munge_mlockall is defined and
    munge_mlockall | bool and
    munge_version_patch | int >= 11
%}
 --mlockall
{%- endif %}
{%- if munge_verbose is defined and
    munge_verbose | bool
%}
 --verbose
{%- endif %}
"
